@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root {
    --header-height: ;

    --hue-color: 194; 

    --first-color: hsl(var(--hue-color),69%, 61%);
    --first-color-second:hsl(var(--hue-color),69%, 61%) ;
    --first-color-alt: hsl(var(--hue-color),57%, 53%);
    --first-color-lighter: hsl(var(--hue-color),92%, 85%);
    --first-color-circle: hsl(var(--hue-color),86%, 70%);
    --title-color: hsl(var(--hue-color),8%, 15%);
    --text-color:hsl(var(--hue-color),8%, 45%) ;
    --text-color-light: hsl(var(--hue-color),8%, 80%);
    --input-color: hsl(var(--hue-color),70%, 96%);
    --body-color:hsl(var(--hue-color), 25%, 96%) ;
    --container-color:#fff ;
    --scroll-bar-color:hsl(var(--hue-color),12%, 90%) ;
    --scroll-thumb-color:hsl(var(--hue-color),12%, 80%) ;
    --member-card-color: #f2f6f7;

    --body-font:'Montserrat', sans-serif;

    --big-font-size:2rem ;
    --h1-font-size:1.5rem ;
    --h2-font-size:1.25rem ;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size:0.813rem ;
    --smaller-font-size: 0.75rem;


    --font-medium:500;
    --font-semi-bold:600;
    --font-bold:700;

    --mb-0-25:0.25rem;
    --mb-0-5:0.5rem;
    --mb-0-75:0.75rem;
    --mb-1:1rem;
    --mb-1-5:1.5rem;
    --mb-2: 2rem;
    --mb-2-5:2.5rem;
    --mb-3:3rem;
    --z-tooltip:10;
    --z-fixed:100;
    --z-modal:100;
}
@media screen and (min-width: 568px) {
    :root {
        --big-font-size:3rem; /* 3rem */
        --h1-font-size:2.25rem;
        --h2-font-size:1.5rem ;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size:0.813rem ;
    }
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size:5rem; /* 3rem */
        --h1-font-size:2.25rem;
        --h2-font-size:1.5rem ;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size:0.813rem ;
    }
}


body.dark-theme{
    --first-color-second:hsl(var(--hue-color),30%, 8%) ;
    --title-color: hsl(var(--hue-color),8%, 95%);
    --text-color:hsl(var(--hue-color),8%, 75%) ;
    --input-color: hsl(var(--hue-color),29%, 16%);
    --body-color:hsl(var(--hue-color),28%, 12%) ;
    --container-color:hsl(var(--hue-color),29%, 16%)   ;
    --scroll-bar-color:hsl(var(--hue-color),12%, 48%) ;
    --scroll-thumb-color:hsl(var(--hue-color),12%, 36%) ;
    --member-card-color:rgba(255, 255, 255, .03);
}

.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1) ;
    cursor: pointer;
}

.change-theme:hover{
    color: var(--first-color);
    transition: .2s color ease-in-out;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: 0.3s; 
}
h1,h2,h3,h4{
    color:var(--title-color);
    font-weight:var(--font-semi-bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

.section{
    padding: 2rem 0;
}
.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}
.section__title{
    font-size: var(--h1-font-size);
    margin: var(--mb-2) 0 var(--mb-0-5) 0;
}
.section__subtitle,
.section__title{
    text-align: center;
}

.container{
    max-width: 850px;
    margin-left: var(--mb-0-5);
    margin-right: var(--mb-0-5);
    margin-bottom: var(--mb-1-5);
    margin-top: var(--mb-1-5);
}
.grid{
    display: grid;
    gap:1.5rem;
}
.grid-reg{
    display: grid;
}
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: 0.3s; 
    background-color: var(--body-color);
}

.preloader {
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    overflow-y: hidden;
    z-index: 999999;
    position: fixed;
  }
  
  .circle {
    border-radius: 190px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
  }
  
  .circle1 {
    background-color: var(--first-color-alt);
    width: 240px;
    height: 240px;
    margin-top: -120px;
    margin-left: -120px;
  }
  
  .circle2 {
    background-color: var(--first-color);
    width: 170px;
    height: 170px;
    margin-top: -85px;
    margin-left: -85px;
  }
  
  .circle3 {
    background-color: var(--first-color-circle);
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
  }

.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo,
.nav__toggle{
    color:var(--title-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--h3-font-size);
}
.nav__logo:hover{
    color: var(--first-color);
    transition: .2s color ease-in-out;
}
.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}
.nav__toggle:hover{
    color:var(--first-color);
        
}
@media screen and (max-width:767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow:0 -1px 4px rgba(0,0,0,0.15);
        border-radius:1.5rem 1.5rem 0 0;
        transition: 0.3s;
    }
}
.nav__list{
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--normal-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__link:hover{
    color: var(--first-color);
    transition: .2s color ease-in-out;
}
.nav__icon{
    font-size: 1.2rem;
}
.nav__close{
    position: absolute;
    right: 1.5rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    columns: var(--first-color);
}
.nav__close:hover{
    color: var(--first-color-alt);
}

.show-menu{
    bottom: 0;
}


.active-link{
    color: var(--first-color);
}


.scroll-header{
    box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
}


.home__container{
    gap:1rem;
}
.home__content{
    grid-template-columns: 1fr 3fr;
    padding-top: 5rem;
    align-items: center;
}
.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home__social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}
.home__social-icon:hover{
    color: var(--first-color-alt);
}
.home__blob-img{
    width: 300px;
}
.home__sche-img{
    width: 500px;
}
.home__data{
    grid-column: 1/2;
    text-align: center;
}
.home__title{
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    margin: var(--mb-0-5) 0;
    
}
.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-0-75);
}
.home1__title{
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    margin: var(--mb-0-5) 0;
}
.home1__subtitle{
    flex-grow: var(--h3-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-0-75);
}
.home__description{
    /* margin-bottom: var(--mb-2); */
    color: var(--text-color);
}
.button{
    display: inline-block;
    background-color: var(--first-color-alt);
    color:  #FFF;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}
.button:hover{
    background-color: var(--first-color);
    transition: .2s background-color ease-in-out;
}
.button_icon{
    font-size:1.25rem;
    margin-left: var(--mb-0-5);
    transition: 0.3s;
}
.button--flex{
    display: inline-flex;
    align-items: center; 
}
.button--small{
    padding: 0.75rem 1rem;
}
.button--link{
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}
.button--link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
}
.bg-form-900{
    background-color:var(--first-color-alt);
}
.about__container{
    align-items: center;;
}
.about__img{
    width: 200px;
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
}
.discord__api{
    width: 300px;
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
}
.discord__title{
    font-size: var(--h1-font-size);
    margin: var(--mb-2) 0;
    text-align: left;
}
.about__description{
    text-align: left;
    font-size: var(--small-font-size);
    letter-spacing: 1.5px;
    margin-bottom: var(--mb-2-5);
    line-height: 1.6;
}
.about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}
.about__info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
.about__info-name{
    font-size: var(--small-font-size);
}
.about__info-title,
.about__info-name{
    display: block;
    text-align: center;
}


.timeline__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}
.timeline__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.timeline__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}
.timeline__calender{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}
.timeline__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}
.timeline__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform:translate(6px, -7px) ;
}    
.events__container{
    gap:1.5rem;
    grid-template-columns: repeat(2,1fr);
}
.events__content{
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem 0.5rem 1.5rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    transition: 0.3s;   
}
.events_content:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
.events__icon{
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-0-75);
}

.events__icon-blue {
    fill: #59b5d2;
    height: 2rem;
    width: 2rem;
    margin-bottom: var(--mb-0-75);

}

.events__title{
    font-size:var(--h2-font-size);
    margin-bottom: var(--mb-0-25);
    font-weight: var(--font-bold);
}

.events__caption {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.events__button{
    cursor: pointer;
    font-size: var(--small-font-size);
}
.events__button:hover{
    transform: translate(0.25rem);
    transition: all .2s ease-in-out;
}
.events__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem ;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.events__modal-content{
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
}
.events__modal-events{
    row-gap: 1rem;
}
.events__modal-event{
    display: flex;
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.events__modal-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-1-5);
}
.events__modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}
.events__modal-icon{
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}
.active-modal{
    opacity: 1;
    visibility: visible;
}

.footer{
    padding-top: 2.5rem;
}
.footer__container{
    row-gap:3.5rem
}
.footer__bg{
    background-color: var(--first-color-second);
    padding:2rem 0 3rem;
}
.footer__title{
    font-size:var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}
.footer__subtitle{
    font-size: var(--small-font-size);
}
.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.foooter__link:hover{
    color: var(--first-color-lighter);
}
.footer__social{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}
.footer__social:hover{
    color: var(--first-color-lighter);
}
.footer__copy{
    font-size: var(--small-font-size);
    text-align: center;
    color: #fff;
    margin-top: var(--mb-3);
}
.footer__me{
    font-size: var(--small-font-size);
    text-align: center;
    color: #fff;
    margin-top: var(--mb-1);
}
.footer__love{
    color:#e74c3c;
}
.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
    color: #FFF;
}

.scrollup{
    position: fixed;
    right: 1rem;
    bottom:-20%;
    background-color: var(--first-color);
    opacity: 0.8;
    padding:0 0.3rem ;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
}
.scrollup:hover{
    background-color: var(--first-color-alt);
}
.scrollup__icon{
    font-size: 1.5rem;
    color:#FFF;
}


.show-scroll{
    bottom: 5rem;
}


::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
}


.card{
  position: relative;
  overflow: hidden;
  padding: 3rem 0;
  background-color: var(--body-color);
}

.card__container{
  display: grid;
  gap: 1.5rem;
}

.card__glass{
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 0.5rem 0;
  background: var(--member-card-color);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, .03) 0px 4px 50px;
}

.card__img{
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #F4F4FB;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.card__data{
  margin-bottom: 2rem;
}

.card__title{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: 600;
  margin-bottom: .25rem;
}

.card__profession{
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 500;
}
.card__social{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card__link{
  display: block;
  font-size: 1.35rem;
  color: var(--title-color);
  margin: 1rem 0;
  transform: translateX(-10rem);
}

.card__link:nth-child(1){
  transition: .2s;
}
.card__link:nth-child(2){
  transition: .5s;
}
.card__link:nth-child(3){
  transition: .7s;
}

.card__glass:hover .card__link{
  transform: translateX(1rem);
}

.schedule__tabs{
    display: none;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}
.schedule__button{
    font-size: var(--h3-font-size);
    Font-Weight: var( --font-medium);
    cursor: pointer;
}
.schedule__button:hover{
    color: var(--first-color);
}
.schedule__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap:1.5rem;
}
.schedule__table{
    display: none;
}
.schedule__download{
    display:block;
    color: var(--first-color);
}
.schedule__download h1{
    color: var(--first-color);
}
.schedule__sections{
    display: grid;
    grid-template-columns:.6fr;
    justify-content: center;
}
.schedule__container{
    margin: var(--mb-2-5) 0;
}
.schedule [data-content]{
    display: none;
}
.schedule__active[data-content]{
    display: block;
}
@media screen and (min-width: 568px){
  .card__container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .card{
    padding: 0;
  }

  .card__container{
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@media screen and (max-width:350px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .nav__menu{
        padding: 2rem .25rem 4rem;
    }
    .nav__list{
        column-gap: 0;
    }
    .home__content{
        grid-template-columns: .25fr 3fr;
    }
    .home__img{
        justify-items: center;
        align-items: center;
    }
    .home__blob-img{
        width: 200px;
        justify-self: center;
        align-self: center;
    }
    .timeline__data{
        gap: 0.5rem;
    }
    .events__container{
        grid-template-columns:max-content;
        justify-content: center;
    }
    .events__content{
        padding-right:3.5rem;
    } 
    .events__modal{
        padding: 0 .5rem;
    }
    
}


@media screen and (min-width:568px){
    .section{
        padding: 1rem 0 ;
    }
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data{
        grid-column: initial;
    }
    .home__img{
        /* order: 1; */
        justify-self: center;
    }
    .about__container,
    .footer__container{
        grid-template-columns: repeat( 2,1fr);
    }
    .about__description{
        margin-top: 2rem;
    }
    .timeline__section{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .discord__api{
        width: 400px;
    }
}
@media screen and (min-width: 768px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    body{
        margin: 0;
    }
    .section{
        padding:2rem 0 2rem;
    }
    .section__subtitle{
        margin-bottom: 4rem;
    }
    .header{
        top: 0;
        bottom: initial;
    }
    .header,
    .main,
    .footer__container{
        padding:0 1rem;
    }
    .nav{
        height: calc(var(--header-height)+ 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
    }
    .change-theme{
        margin: 0;
    }
    .home__container{
        row-gap: 5rem;
        padding-top: var(--mb-2);
    }
    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .about__container{
        column-gap: 5rem;
    }
    .about__img{
        width: 500px;
    }
    .about__description{
        text-align: initial;
    }
    .about__info{
        justify-content: space-between;
    }
    .schedule__tabs{
        display: flex;
    }
    .schedule__button{
        margin: 0 var(--mb-1);
    }
    .schedule__table{
        display: block;
    }
    .schedule__download{
        display:none;
    }
    .schedule__sections{
        grid-template-columns: 0.5fr;
    }
    .events__container{
        grid-template-columns: repeat(3,218px);
        justify-content: center;
    }
    .events__icon{
        font-size: 2rem;
    }
    .events__modal-content{
        width: 450px;
    }   
    .footer__container{
        grid-template-columns: repeat(3,1fr);
    }   
    .footer__bg{
        padding: 3rem 0 3rem;
    }
    .footer__links{
        justify-content: center;
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer__socials{
        justify-self: flex-end ;
    }
}

@media screen and (min-width:1024px) {
    .container{
        max-width: 1000px;
    }
    .header,
    .main,
    .footer__container{
        padding: 0;
    }
    .events__container{
        grid-template-columns: repeat(2, 300px);
    }
    .about__description{
        font-size: 1.1rem;
    }
    .card__container{
        grid-template-columns: repeat(4, 1fr);
        align-content: center;
    }
    .card__data{
        margin: 0 0.9rem 0.9rem  ;
    }
}
@media screen and (min-width:1440px) {
    .container{
        max-width: 1200px;
    }
    .card__container{
        grid-template-columns: repeat(4, 1fr);
    }
}